@font-face {
  font-display: swap;
  font-family: "Rowdies";
  font-weight: 400;
  src: url("../fonts/Rowdies/Rowdies-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
:root {
  --color-primary-orange: #FF9F0E;
  --color-primary-light: #FFFFFF;
  --color-primary-dark: #181817;
  --color-secondary-orang: #FCB62A;
  --color-secondary-light: #FFFAF3;
  --color-secondary-normal: #F1F3FF;
  --color-secondary-grey: #839AA9;
  --color-secondary-lavender-white: #F9F9FF;
  --color-secondary-soft-lilac: #D9A6FF;
  --color-secondary-pink: #FF6E9F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2 {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  line-height: normal;
  color: var(--color-primary-dark);
  font-size: 32px;
}
@media screen and (min-width: 1200px) {
  h1, h2 {
    font-size: 72px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  color: var(--color-primary-dark);
  transition: color 0.3s;
}
.link:hover {
  color: var(--color-primary-orange);
}

.button {
  display: block;
  padding: 8px 24px;
  color: var(--color-primary-light);
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-primary-orange);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 18px;
  }
}
.button:hover {
  background-color: var(--color-secondary-orang);
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  margin-bottom: 33px;
}
@media screen and (min-width: 1200px) {
  .header__container {
    gap: 115px;
    justify-content: initial;
    margin-bottom: 212px;
  }
}
.header__nav {
  display: flex;
  gap: 115px;
  align-items: center;
}
.header__logo {
  width: 92px;
  height: 20px;
}
@media screen and (min-width: 480px) {
  .header__logo {
    width: 182px;
    height: 43px;
  }
}
.header__menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__menu {
    display: flex;
    gap: 48px;
    align-items: center;
    font-size: 18px;
    line-height: 1.3;
  }
}
.header__basket {
  display: flex;
  gap: 16px;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .header__basket {
    gap: 24px;
  }
}
.header__basket-logo {
  width: 24px;
  height: 24px;
  fill: var(--color-primary-orange);
  display: flex;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .header__basket-logo {
    width: 40px;
    height: 40px;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__button {
    display: block;
  }
}
.header__burger {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: var(--color-primary-orange);
}
@media screen and (min-width: 480px) {
  .header__burger {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}
.header__burger__logo {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 480px) {
  .header__burger__logo {
    width: 40px;
    height: 40px;
  }
}

.hero-section__container {
  display: flex;
  justify-content: center;
  position: static;
  margin-bottom: 105px;
}
@media screen and (min-width: 1200px) {
  .hero-section__container {
    gap: 65px;
    position: relative;
    margin-bottom: 162px;
  }
}
.hero-section__decor-white-dog {
  position: absolute;
  transform: rotate(-30deg);
  top: 0;
  left: calc(50% - 150px);
}
@media screen and (min-width: 1200px) {
  .hero-section__decor-white-dog {
    left: 553px;
    top: 238px;
  }
}
.hero-section__decor-yellow-track {
  position: absolute;
  fill: var(--color-secondary-orang);
  left: calc(50% - 100px);
  top: 45px;
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .hero-section__decor-yellow-track {
    left: 580px;
    top: 380px;
  }
}
.hero-section__decor-lilac-track {
  position: absolute;
  fill: var(--color-secondary-soft-lilac);
  left: calc(100% - 24px);
  top: -130px;
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .hero-section__decor-lilac-track {
    left: 680px;
    top: 80px;
  }
}
.hero-section__decor-dachshund-dog {
  position: absolute;
  transform: rotate(-20deg);
  left: calc(50% - 10px);
  top: 54px;
}
@media screen and (min-width: 1200px) {
  .hero-section__decor-dachshund-dog {
    left: 780px;
    top: -10px;
  }
}
.hero-section__decor-small-dog {
  position: absolute;
  top: 0;
  left: calc(50% + 130px);
}
@media screen and (min-width: 1200px) {
  .hero-section__decor-small-dog {
    left: 1140px;
    top: 30px;
  }
}
.hero-section__decor-pink-track {
  position: absolute;
  fill: var(--color-secondary-pink);
  left: calc(50% + 70px);
  top: 50px;
}
@media screen and (min-width: 1200px) {
  .hero-section__decor-pink-track {
    left: 1240px;
    top: 180px;
  }
}
.hero-section__decor-arrow {
  display: none;
}
@media screen and (min-width: 1200px) {
  .hero-section__decor-arrow {
    display: block;
    width: 64px;
    height: 48px;
    position: absolute;
    left: 434px;
    top: -40px;
  }
}
.hero-section__content {
  max-width: 635px;
}
.hero-section__title {
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    margin-bottom: 40px;
    text-align: start;
  }
}
.hero-section__text {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .hero-section__text {
    max-width: 480px;
    margin-bottom: 24px;
    text-align: start;
    font-size: 22px;
  }
}
.hero-section__button {
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .hero-section__button {
    justify-content: flex-start;
    position: static;
  }
}
.hero-section__image-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .hero-section__image-container {
    display: block;
  }
}
.hero-section__image {
  max-width: 506px;
  max-height: 516px;
}

.decor {
  display: block;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .decor {
    width: 48px;
    height: 48px;
  }
}

.decor_track {
  display: block;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .decor_track {
    width: 42px;
    height: 42px;
  }
}

.advice-section__container {
  display: flex;
  align-items: end;
  gap: 84px;
  margin-bottom: 188px;
}
.advice-section__title {
  margin-bottom: 40px;
}
.advice-section__title {
  margin-bottom: 24px;
}
.advice-section__image-container {
  position: relative;
  display: none;
}
@media screen and (min-width: 1200px) {
  .advice-section__image-container {
    display: block;
  }
}
.advice-section__text {
  font-size: 18px;
}
@media screen and (min-width: 1200px) {
  .advice-section__text {
    font-size: 22px;
  }
}
.advice-section__image {
  max-width: 516px;
  max-height: 392px;
}
.advice-section__decor-grey-track-left {
  position: absolute;
  fill: var(--color-secondary-grey);
  left: 40px;
  top: 245px;
  transform: rotate(-120deg);
}
.advice-section__decor-grey-track-top {
  position: absolute;
  fill: var(--color-secondary-grey);
  left: 160px;
  top: -34px;
  transform: rotate(-80deg);
}
.advice-section__decor-grey-track-right {
  position: absolute;
  fill: var(--color-secondary-grey);
  left: 380px;
  top: 150px;
}
.advice-section__video-button-block {
  position: absolute;
  left: 320px;
  top: -30px;
}
.advice-section__video-bgc {
  position: relative;
  width: 73px;
  height: 72px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 1200px) {
  .advice-section__video-bgc {
    width: 161px;
    height: 123px;
  }
}
.advice-section__button {
  margin-bottom: 140px;
}
.advice-section__video-button-block-mobile {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .advice-section__video-button-block-mobile {
    display: none;
  }
}

.video-button {
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  top: 16px;
  left: 16px;
}
@media screen and (min-width: 1200px) {
  .video-button {
    top: 18px;
    left: 44px;
  }
}
.video-button__decor {
  border-radius: 50%;
  fill: var(--color-primary-light);
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 1200px) {
  .video-button__decor {
    width: 48px;
    height: 48px;
  }
}
.video-button__decor:hover {
  fill: var(--color-primary-orange);
  cursor: pointer;
}
.video-button__text {
  position: absolute;
  color: var(--color-primary-light);
  top: 42px;
  left: 14px;
  font-size: 8px;
}
@media screen and (min-width: 1200px) {
  .video-button__text {
    font-size: 18px;
    top: 70px;
    left: 30px;
  }
}

.advice-mobile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.services-card {
  padding: 47px 72px;
}
.services-card__decor {
  max-width: 96px;
  max-height: 96px;
}
.services-card__title {
  font-size: 22px;
  color: var(--color-primary-orange);
  margin: 0;
}

.services-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-section__list {
  display: flex;
  gap: 40px;
}