:root {
    --color-primary-orange: #FF9F0E;
    --color-primary-light: #FFFFFF;
    --color-primary-dark: #181817;
    --color-secondary-orang: #FCB62A;
    --color-secondary-light: #FFFAF3;
    --color-secondary-normal: #F1F3FF;
    --color-secondary-grey: #839AA9;
    --color-secondary-lavender-white: #F9F9FF;
    --color-secondary-soft-lilac: #D9A6FF;
    --color-secondary-pink: #FF6E9F;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
