.button {
    display: block;
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-weight: 700;
    background-color: var(--color-primary-orange);
    border:none;
    border-radius: 8px;
    cursor: pointer;

    &:hover{
        background-color: var(--color-secondary-orang);
    }
}