.button {
    display: block;
    padding: 8px 24px;
    color: var(--color-primary-light);
    font-weight: 400;
    font-size: 16px;
    background-color: var(--color-primary-orange);
    border:none;
    border-radius: 4px;
    cursor: pointer;

    @media screen and (min-width: $bp-desktop) {
        padding: 16px 32px;
        border-radius: 8px;
        font-size: 18px;
    }

    &:hover{
        background-color: var(--color-secondary-orang);
    }
}