.hero-section{
    &__container{
        display: flex;
        justify-content: center;

        @media screen and (min-width: $bp-desktop) {
            gap: 65px;
        }
    }

    &__content{
    max-width: 635px;
    }

    &__title{
        text-align: center;
        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 40px;
            text-align: start;
        }
    }

    &__text{
        text-align: center;
        @media screen and (min-width: $bp-desktop) {
            max-width: 480px;
            margin-bottom: 24px;
            text-align: start;
        }
    }

    &__image-container{
        display: none;
        @media screen and (min-width: $bp-desktop) {
            display: block;
            position: relative;
        }
    }

    &__image{
        max-width: 506px;
        max-height: 516px;
    }

    &__decor-white-dog{
        position: absolute;
        left: -200px;
        bottom: 234px;
        transform: rotate(-30deg);
    }

    &__decor-yellow-track{
        position: absolute;
        fill: var(--color-secondary-orang);
        left: -176px;
        bottom: 92px;
        transform: rotate(180deg);
    }

    &__decor-lilac-track {
        position: absolute;
        fill: var(--color-secondary-soft-lilac);
        left: -76px;
        bottom: 392px;
        transform: rotate(-90deg);
    }

    &__decor-dachshund-dog{
        position: absolute;
        left: 20px;
        bottom: 510px;
        transform: rotate(-20deg);
    }

    &__decor-small-dog{
        position: absolute;
        bottom: 392px;
        right: -60px;
    }

    &__decor-pink-track {
        position: absolute;
        fill: var(--color-secondary-pink);
        bottom: 270px;
        right: -90px;
    }

    &__decor-arrow {
        display: none;
        @media screen and (min-width: $bp-desktop) {
            width: 64px;
            height: 48px;
            position: absolute;
            left: -300px;
            bottom: 550px;
        }
    }
}

